body {
    background-image: url(checker.jpeg);
    height: 100%;
  }

  ul {
    list-style-type: none;
  }

  p {
    color: red;
    text-align: center;
    font-size: 50px;
    text-shadow: .5px .5px white;

  }

  h2 {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }

  input {
    text-align: center;
  }

  button {
    display: inline-block;
    font-family: sans-serif;
    background-color: yellow;
    font-size: 25px;
    text-align: center;
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 3px double red;
    color: blue;
  }

  .container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  #quiz {
    text-align: center;
  }

  #startBtn {
    background-color: yellow;
  }

  #startPagehs,
  #playAgain,
  #restartscore {
    background-color: yellow;
    display: inline-block;
    text-align: center;
  }

  #quiz,
  #gameover,
  #secondpage,
  #gameoverBtn {
    display: none;
  }

  #time{
      font-size: 50px;
      color: blue;
  }

  